# ==========================================
# DATABASE CONFIGURATION
# ==========================================
DATABASE_PATH=app/database
DATABASE_NAME=stock.db

# ==========================================
# API KEYS
# ==========================================
ALPHA_VANTAGE_API_KEY=5XIICA8S7NOWV7GX
ALPHA_VANTAGE_URL=https://www.alphavantage.co/query
